.rules {
	ul {
		list-style-type: disc;
		margin-top: 10px;
		li {
			margin-bottom: 10px;
			font-size: 14px;
			font-family: "Poppins", sans-serif;
			&:hover {
				color: $whiteText1;
				cursor: text;
				text-decoration: none;
			}
		}
	}
}

.step1 {
	form {
		@include flex(flex-start, flex-start);
		flex-direction: column;
		width: 600px;
		margin: 0 auto;
		label {
			text-align: left;
		}
		input,
		textarea {
			width: 100%;
			margin-bottom: 20px;
		}
		.actions {
			gap: 20px;
			width: 100%;
			@include flex(center, center);
			button {
				margin-right: 20px;
			}
		}
	}
}

.step2,
.step3 {
	.categories {
		width: 100%;
		height: auto;
		gap: 20px;
		margin-top: 20px;
	}
	.actions {
		button {
			margin: 0;
		}
	}
}

.step3 {
	padding: 0;
	margin: 0;
	h3 {
		margin-bottom: 20px;
		text-transform: uppercase;
		font-family: "Lato", sans-serif;
		color: $whiteText2;
	}
	p {
		span {
			opacity: 0.8;
		}
	}
	.waiting {
		width: 100%;
		height: 40vh;
		@include flex(center, center);
		flex-direction: column;
	}
}
