.auth {
	@include flex(center, center);
	flex-direction: column;
	height: 100vh;

	h3 {
		margin-bottom: 20px;
		text-align: center;
	}
	p.desc {
		text-align: center;
		margin: -15px 0 25px 0;
		span {
			opacity: 1;
			font-weight: bold;
		}
	}
	button {
		width: 100%;
	}
	.waiting {
		opacity: 0.6;
	}
	.redirect {
		font-weight: bold;
		margin-top: 10px;
		font-size: 13px;
		a {
			margin-left: 5px;
		}
	}
}
