.passwordField {
	width: auto;
	.field {
		@include flex(space-between, center);
		border: 1px solid $whiteText1;
		border-radius: 5px;
		padding-right: 5px;
		width: 600px;
		input {
			margin: 0;
			border: none;
			min-width: 90%;
		}
	}
	margin-bottom: 20px;
}

.error {
	color: $error;
	margin-top: -12px;
	margin-bottom: 15px;
	font-size: 13px;
	font-family: "Poppins", sans-serif;
	max-width: 400px;
}
