.category {
	border-radius: 5px;
	height: auto;
	border: 1px solid $whiteText1;
	margin-bottom: 20px;
	.category__header {
		height: 40px;
		width: 100%;
		@include flex(space-between, center);
		padding: 0 20px;
		i {
			font-size: 20px;
		}
		i.small {
			font-size: 16px;
		}
		i.delete {
			color: $error;
		}
		h4 {
			color: $whiteText1;
			font-weight: bold;
			font-family: "Lato", sans-serif;
		}
	}
	.candidates {
		width: 100%;
		height: auto;
		padding: 10px;
		h3 {
			font-size: 14px;
		}
		p.note {
			color: $whiteText2;
			margin-bottom: 20px;
			font-weight: bolder;
			span {
				opacity: 0.8;
			}
		}
		.content {
			margin-top: 10px;
			height: auto;
			width: 100%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 20px;
			.candidate {
				width: 100%;
				height: auto;
				min-height: 200px;
				border: 1px solid $whiteText1;
				border-radius: 5px;
				overflow: hidden;
				img {
					width: 100%;
					display: block;
					height: 150px;
				}
				.details {
					width: 100%;
					@include flex(space-between, center);
					margin-top: 10px;
					padding: 0 10px;

					p {
						width: 90%;
						font-weight: bold;
						height: auto;
						opacity: 0.8;
						&:hover {
							opacity: 1;
						}
					}
					.actions {
						gap: 10px;
						width: 10%;
						i {
							margin: 0;
							display: block;
							opacity: 0.8;
							&:hover {
								opacity: 1;
							}
						}
						i.delete {
							color: $error;
						}
					}
				}
			}
		}
	}
	.markDone {
		margin: 10px;
		@include flex(flex-end, center);
		button {
			background-color: $whiteText2;
			&:hover {
				cursor: pointer;
			}
		}
	}
}
.category:has(.candidates) {
	.category__header {
		border-bottom: 1px solid $whiteText1;
	}
}

.add {
	@include flex(center, center);
	flex-direction: column;
	height: 120px;
	i {
		font-size: 24px;
		margin-bottom: 10px;
	}
	p {
		font-weight: bold;
	}
}


@media screen and (max-width : 800px){
	.category{
		.candidates{
			.content{
				grid-template-columns : 1fr 1fr;
				gap: 20px;
			}
		}
	}
}

@media screen and (max-width : 510px){
	.category{
		.category__header{
			.actions{
				width: 80px;
				margin : 0;
			}
		}
		.actions{
				flex-direction : row;
			}
		.candidates{
			.content{	
				grid-template-columns : 1fr;
				.candidate{
					padding-bottom : 10px;
				}
			
			}
		}
	}
}