.header {
	height: 70px;
	@include flex(space-between, center);
	border-bottom: 1px solid $whiteText2;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 4;
	background-color: $whiteBg1;
	.link {
		text-decoration: none;
	}
	nav {
		ul {
			@include flex(space-between, center);
			gap: 30px;
			li {
				font-weight: bold;
				a {
					color: $whiteText1;
					&:hover {
						color: $whiteText2;
					}
				}
				.active {
					color: $whiteText2;
				}
			}
			li.logout {
				color: $error;
			}
		}
	}
	.menuBtn {
		display: none;
	}
}

@media screen and (max-width: 460px) {
	.header {
		nav {
			display: none;
		}
		.menuBtn {
			@include flex(center, center);
			width: 30px;
			height: 30px;
		}
	}
}
