.header {
	height: 70px;
	@include flex(space-between, center);
	border-bottom: 1px solid $whiteText2;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 4;
	background-color: $whiteBg1;
	nav {
		ul {
			@include flex(space-between, center);
			gap: 30px;
			li {
				font-weight: bold;
			}
			li.logout {
				color: $error;
			}
		}
	}
}
